@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --main-background-color:#EBE7E0;
    --primary-blue-color:#165EA0;
    --text-font-family: 'Open Sans Light', sans-serif;
    --body-text-color: #1A1B41;
}
body{
    background-color: var(--main-background-color);
}
div{

    /* padding-right: 5vh; */
    background-color:var(--primary-blue-color);
    width: 80vh;
    border: 10px solid black;
    margin-left: 22%;
    margin-top: 19%;
    height: 40vh;

}
h1{
    text-align: center;
    color: white;
    font-family:var(--text-font-family);
    font-size:30px;
    padding-bottom: 5vh;
    padding-right: 5vh;
    padding-left: 5vh;
    padding-top: 9vh;
    line-height: 9vh;

}