@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --main-background-color:#EBE7E0;
    --primary-blue-color:#165EA0;
    --secondary-background-color: white;
    --text-font-family: 'Open Sans Light', sans-serif;
    --body-text-color: #1A1B41; 
    --border-box-shadow:#e7e7e7;
    --menu-text: #cccccb;
}
body{
    background-color: var(--secondary-background-color);
}
div{
    margin: auto;
  }
.boxcontainer{
    margin-top: 20vh;
    margin-left: 30vh;
    margin-right: 30vh;
    display: grid;  
    grid-template-columns: auto;  
    grid-template-rows: auto auto;  
    background-color:var(--primary-blue-color);
    border: 10px solid black;
    padding-bottom: 5vh;


}
h1{
    text-align: center;
    color: white;
    font-family:var(--text-font-family);
    font-size:30px;
    padding-bottom: 5vh;
    padding-right: 5vh;
    padding-left: 5vh;
    padding-top: 9vh;
    line-height: 9vh;

}
button {
    font-family: var(--text-font-family);
    color: var(--secondary-background-color);
    background-color: black;
    height: 60px;
    width: 200px;
    box-shadow: none;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
  }
  
  button:hover {
    background-color: var(--body-text-color);;
  }