@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --main-background-color:#EBE7E0;
    --primary-blue-color:#165EA0;
    --secondary-background-color: white;
    --text-font-family: 'Open Sans Light', sans-serif;
    --body-text-color: #1A1B41; 
    --border-box-shadow:#e7e7e7;
}

.center-page{
  text-align:center;
  background-color:var(--primary-blue-color);
  width: 450px;
  height: 290px;
  justify-content: center;
  align-items: center;
  margin: 200px auto auto auto;
  padding:15px;
  border-style: none;
  border-radius:30px;
}

.center-items{
  text-align:center;
  background-color:var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  padding:7px;
}
h1{
  font-family: var(--text-font-family);
  color:var(--body-text-color);
  text-align: center;
}
h3{
  text-align: center;
  font-family: var(--text-font-family);
  color:var(--body-text-color);
}
button {
  font-family: var(--text-font-family);
  color:var(--secondary-background-color);
  background-color: var(--body-text-color);
  height: 60px;
  width: 200px;
  box-shadow: none;
  border-radius:15px;
  font-size: 40px;
  text-align:center; 
  padding: 10px 15px 10px 15px;
}
button:hover{
  background-color: #165EA0;
} 
/* 
.top-radius{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.bottom-radius{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
} */