@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --main-background-color: #EBE7E0;
  --primary-blue-color: #165EA0;
  --secondary-background-color: white;
  --text-font-family: 'Open Sans Light', sans-serif;
  --body-text-color: #1A1B41;
  --border-box-shadow: #e7e7e7;
}
div{
  margin: auto;
}
.container {
  margin-top: 20vh;
  margin-left: 30vh;
  margin-right: 30vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto  auto  auto;
  border: 15px solid var(--primary-blue-color);
  padding-bottom: 5vh;
}

h1 {
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  text-align: center;
  padding-top: 5vh;
  font-size: 5vh;
}

h3 {
  text-align: center;
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  padding-bottom: 5vh;

}

button {
  font-family: var(--text-font-family);
  color: var(--secondary-background-color);
  background-color: var(--body-text-color);
  height: 60px;
  width: 200px;
  box-shadow: none;
  border-radius: 15px;
  font-size: 40px;
  text-align: center;
}

button:hover {
  background-color: #165EA0;
}