@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --main-background-color:#EBE7E0;
    --primary-blue-color:#165EA0;
    --secondary-background-color: white;
    --text-font-family: 'Open Sans Light', sans-serif;
    --body-text-color: #1A1B41;
}
h3{
    font-size:16px;
}
.registration-page{
    display:flex;
    padding-top: 65px;
    background-color: var(--secondary-background-color);
}
.reg{
    width: 85%;
    /* display: flex; */
    /* flex-direction: column; */
    background-color:var(--body-text-color);
    border: thin var(--body-text-color) solid;
    border-radius:15px;
    border-collapse: collapse;
    margin: 25px 0px 150px 135px;
    padding: 10px;
    font-size: 0.9em;
    font-family: var(--text-font-family);
    color: var(--secondary-background-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    text-align: center; 
    position:absolute;
    left:0;
    right:0;
} 

.reg-header{
    height: 30%;
    background-color: var(--secondary-background-color);
    color: var(--body-text-color);
    padding-top:25px;
    text-align: center;
    font-size:14px;
} 
.reg-container{
    padding: 2px 16px;
}