<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Assignment name:</label>
<input type="text" id="asg">


<table id="promptInfo">
                <tr>
                  <th>Prompt Id</th>
                  <th>Description for Prompt</th>
                  <th>language</th>
                    <th>Image Name</th>
                    <th>Type of Prompt</th>
                    <th>Select</th>
                </tr>

    {% for i in list_prompts %}
					<tr>
                        <td>{{ i.promptId }}</td>
                        <td>{{ i.descriptionPrompt }}</td>
                        <td>{{ i.language }}</td>
                        <td>{{ i.image }}</td>
                        <td>{{ i.type_prompt }}</td>

                        <td><input type="checkbox" id="prompt"></td>
                </tr>
				{% endfor %}


</table>
<br>
<br>
<input type="button" id="Submit" value="Submit" onclick="getSelected()">
</body>
<script type="text/javascript" src="{{url_for('static', filename='asgCreationJS.js')}}"> </script>

</html>