<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to UCSF Speech Recording</title>
    <link href="../static/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="center-page">
        <div class="center-items">
                <div class="top-radius">    
                <h1> Welcome to UCSF Speech Recording</h1>
            </div> 
        </div>  

        <div class="center-items">
            <h3>Servicing the speaking population one recording at a time</h3>
        </div>

        <div class="center-items">
                <div class="bottom-radius">
                <a href="{{url_for('terms')}}"><button>Enter</button></a>
            </div>
        <div>    
    </div>
</body>

</html>
