<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to UCSF Speech Recording</title>
    <link href="../static/css/home.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">  
        <div><h1>Welcome to UCSF Speech Recording</h1></div>  
        <div><h3>Servicing the speaking population one recording at a time</h3></div>  
        <div> <a href="{{url_for('terms')}}"><button>Enter</button></a> </div>  
      </div>
    <!-- <div id="container" >
      <h1>Welcome to UCSF Speech Recording</h1>
      <h3>Servicing the speaking population one recording at a time</h3>
      <a href="{{url_for('terms')}}"><button>Enter</button></a>
    </div> -->
  </body>
</html>
