<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <title>Expert Portal</title>
     <link href="/static/css/create_asg.css" rel="stylesheet" type="text/css">
      <!--  <link href="../static/css/expertPortal.css" rel="stylesheet" type="text/css">-->
       <!-- <link href="../static/css/promptList.css" rel="stylesheet" type="text/css">-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--bootstrap-->
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<app-navbar></app-navbar>
        <div class="menu-container">
            <expert-menu></expert-menu>
        <div class="other-items">
<section class="asg-list-items">
<table id="promptInfo">
                <tr>
                    <th>Patient ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Language</th>
                    <th>Sex</th>
                    <th>Date of Birth</th>
                    <th>Assignment</th>
                    <th>Date of Assignment</th>
                    <th>Assign new prompts</th>
                </tr>

    {% for i in list_patient %}
					<tr>
                        <td class="patient_id">{{ i.patient_id }}</td>
                        <td>{{ i.first_name }}</td>
                        <td>{{ i.last_name }}</td>
                        <td>{{ i.language }}</td>
                        <td>{{ i.sex }}</td>
                        <td>{{ i.dob }}</td>
                        <td>{{ i.group_name }}</td>
                        <td>{{ i.asg_date }}</td>
                        <td class="group_name">
                            <select name="group_selection" id="group">
                            {% for i in get_asg %}
                            <option value="{{i.group_id}}" >{{i.group_name}}</option>
                            {% endfor %}
                        </select>
                        </td>
                    <td><input type="button" id="Submit" value="Change" onclick="changeAsg(this)"></td>
                </tr>
				{% endfor %}


</table>
</section>
        </div>
<br>
<br>
      <script src="../static/component.js"></script>
        </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='changeAsgJS.js')}}"> </script>

</html>