<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Portal</title>
</head>
<body>
<h1>Patient portal</h1>
 <div id="yourCourses" class="tabcontent">
            <table>
                <tr>
                  <th>Assignment</th>
                  <th>Deadline</th>

                  <th>Status</th>



                </tr>
                {% for i in your_assignments %}
					<tr>
                        <th class="group_name">{{ i.group_name}}</th>
		                <th >{{ i.date_of_assignment}}</th>
                        <th >{{ i.state_of_prompt }}</th>
                        <th><button class="start_asg" onclick="startAsg(this)"><a href="{{url_for('do_prompts')}}">Start</a></button></th>

					</tr>
				{% endfor %}

              </table>
        </div>
<script type="text/javascript" src="{{url_for('static', filename='assingmentJS.js')}}"> </script>

</body>
</html>
