<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UCSF Speech App</title>
        <link href="../static/css/signup.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="loginBox">
            <div id ="form_block">
                <h2>Login</h2>
                <input type="text" id="username" placeholder="username">
                <input type="password" id="password" placeholder="password">

                <input type="button" id="loginButton" value="Login" onclick="logIn()">

            </div>
        </div>

        <script type="text/javascript" src="{{url_for('static', filename='loginJS.js')}}"> </script>

    </body>
</html>