:root{
  --main-background-color:#EBE7E0;
  --primary-blue-color:#165EA0;
  --text-font-family: 'Open Sans Light', sans-serif;
  --body-text-color: #1A1B41;
}

.hclass {
    padding: 5%;
    text-align: center;
    font-size: 20px;

}
.homeButtonEnter{
    height: 60px;
    width: 150px;
    background-color: black;
    box-shadow: none;
    border: 2px solid black;
    font-size: 40px;
    margin: 100px auto;
    padding: 4px;
    color:white;
    margin: 100px -90px; 
    position:relative;
    left:50%;

}
.homeButtonEnter:hover {
    background: #165EA0;
}

.termsbox {
    display:block;
    padding: 0.1em;
    margin: 1em;
    font-size: 16px;
    max-width: 400px;
  }
  
  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
  }

  .boxed {
    border: 1px solid black ;
    width: 1070px;
    height: 300px;
    overflow: scroll;
  }

  #accept:hover{
    box-shadow: 0 4px 0 0 #7ED37E;
  }

  .decline:hover{
    box-shadow: 0 4px 0 0 #7ED37E;
  }
