<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unconfirmed</title>
      <meta charset="UTF-8">
      <title>Patient Portal</title>
      <link href="../static/css/patientPortal.css" rel="stylesheet" type="text/css">
      <link href="../static/css/patientTasks.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <!--bootstrap-->
          <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

 <app-navbar></app-navbar>
    <div class="menu-container">
      <patient-menu></patient-menu>


<h1>Welcome!</h1>
<br>
<p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
<p>Didn't get the email? <a href="{{ url_for('resend_confirmation') }}">Resend</a>.</p>

      <script src="../static/component.js"></script>
    </div>
</body>
</html>